<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR" value="C:/eng/log/invitation/admin"></property>
	
	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	
	<appender name="confirmation_needed" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				여기이이이봐라아아아아!!! : %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/admin.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
		
		<!-- 일자에 따른 로그파일 처리 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/admin-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		
		<!-- 용량에 따른 로그파일 처리 -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_DIR}/admin.%i.log.zip</fileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.invitation" level="debug" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
	
	<!-- Query Loggers -->
	<logger name="jdbc.sqlonly" level="debug" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
	
	<!-- <logger name="jdbc.resultsettable" level="debug" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger> -->

	<!-- 3rdparty Loggers -->
	<!-- 여기 로그는 언제 나올지 확인 필요 -->
	<logger name="org.springframework.core" level="info">
		<appender-ref ref="confirmation_needed" />
		<appender-ref ref="file" />
	</logger>

	<!-- Root Logger와 로그가 겹쳐 주석 처리 -->
	<!-- 
	<logger name="org.springframework.context" level="info">
		<appender-ref ref="confirmation_needed" />
		<appender-ref ref="file" />
	</logger>
	<logger name="org.springframework.beans" level="info">
		<appender-ref ref="confirmation_needed" />
		<appender-ref ref="file" />
	</logger>
	<logger name="org.springframework.web" level="info">
		<appender-ref ref="confirmation_needed" />
		<appender-ref ref="file" />
	</logger> 
	-->

	<!-- Root Logger -->
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	
</configuration>